<head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">WebApp</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
            <ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div>

<!-- -->
<div class="container">
	<div class="row">
        <div class="span12">
    		<div class="menu">
                <h2>Stories already classified</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
        <div class="span12">
    		<div class="menu">
                <div class="accordion">
            		<div class="accordion-group">

                        {% for project, issues in project_classified_issue_dict.items %}
                            <div class="accordion-heading country">
                            {% load staticfiles %}
                              <img src="{% static "jira_logo.png" %}" alt="country flag" style="float:left; margin: 3px 10px 0 3px; text-align:center;"/>
                                <a class="accordion-toggle" data-toggle="collapse" href="#c{{ project.key }}">{{ project.name }}</a>
                            </div>

                            <div id="c{{ project.key }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Issue type</th>
                                                <th>Story points</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {% for issue in issues %}
                                            <tr>
                                                <td>{{ issue.key }}</td>
                                                <td>{{ issue.fields.description }}</td>
                                                <td>{{ issue.fields.issuetype.name }}</td>
                                                <td>{{ issue.fields.customfield_10027 }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
            		</div>
            	</div>
            </div>
        </div>
	</div>
</div>


<div class="container">
	<div class="row">
        <div class="span12">
    		<div class="menu">
                <h2>Stories not classified</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
        <div class="span12">
    		<div class="menu">
                <div class="accordion">
            		<div class="accordion-group">

                        {% for project, issues in project_unclassified_issue_dict.items %}
                            <div class="accordion-heading country">
                            {% load staticfiles %}
                              <img src="{% static "jira_logo.png" %}" alt="country flag" style="float:left; margin: 3px 10px 0 3px; text-align:center;"/>
                                <a class="accordion-toggle" data-toggle="collapse" href="#u{{ project.key }}">{{ project.name }}</a>
                            </div>

                            <div id="u{{ project.key }}" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <table class="table table-striped table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Issue type</th>
                                                <th>Story points</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                        {% for issue in issues %}
                                            <tr>
                                                <td>{{ issue.key }}</td>
                                                <td>{{ issue.fields.description }}</td>
                                                <td>{{ issue.fields.issuetype.name }}</td>
                                                <td>{{ issue.fields.customfield_10027 }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endfor %}
            		</div>
            	</div>
            </div>
        </div>
	</div>
</div>